version: '3.8'

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8090:8080"
    environment:
      - BOOKING_SERVICE_URL=http://booking-service:8000
      - EVENT_SERVICE_URL=http://event-service:4001
      - TICKET_SERVICE_URL=http://ticket-service:4002
      - USER_SERVICE_URL=http://user-service:3001
    depends_on:
      - booking-service
      - event-service
      - ticket-service
      - user-service
    networks:
      - eventhub-net

  booking-service:
    build: ./booking-service
    ports:
      - "8001:8000"
    environment:
      - DATABASE_URL=sqlite+aiosqlite:///./bookings.db
      - EVENT_SERVICE_URL=http://event-service:4001/graphql
      - TICKET_SERVICE_URL=http://ticket-service:4002/graphql
      - JWT_SECRET_KEY=dev-secret-123
    volumes:
      - ./booking-service:/app
    networks:
      - eventhub-net

  event-service:
    build: ./event-service
    ports:
      - "8102:4001"
    environment:
      - DATABASE_URL=mysql+pymysql://root:root@event-db:3306/event_db
      - JWT_SECRET_KEY=dev-secret-123
      - SPACEMASTER_GRAPHQL=https://9a9eec96465c.ngrok-free.app/graphql
    depends_on:
      - event-db
    volumes:
      - ./event-service:/app
    networks:
      - eventhub-net

  ticket-service:
    build: ./ticket-service
    ports:
      - "8003:4002"
    environment:
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_HOST=ticket-db
      - DB_NAME=ticket_db
      - JWT_SECRET_KEY=dev-secret-123
      - EVENT_SERVICE_URL=http://event-service:4001/graphql
    depends_on:
      - ticket-db
    volumes:
      - ./ticket-service:/app
    networks:
      - eventhub-net

  user-service:
    build: ./user-service
    ports:
      - "8004:3001"
    environment:
      - MYSQL_HOST=user-db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=user_db
      - PORT=3001
      - JWT_SECRET_KEY=dev-secret-123
    depends_on:
      - user-db
    volumes:
      - ./user-service:/app
    networks:
      - eventhub-net

  event-db:
    image: mysql:8.3
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=event_db
    networks:
      - eventhub-net

  ticket-db:
    image: mysql:8.3
    ports:
      - "3308:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=ticket_db
    networks:
      - eventhub-net

  user-db:
    image: mysql:8.3
    ports:
      - "3309:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=user_db
    networks:
      - eventhub-net

networks:
  eventhub-net:
    driver: bridge
