version: '3.8'

services:
  user-service:
    build: .
    ports:
      - "3001:3001"
    environment:
      - MYSQL_HOST=user-db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=user_db
      - JWT_SECRET_KEY=dev-secret-123
      - PORT=3001
    volumes:
      - .:/app
    depends_on:
      - user-db
    networks:
      - app-network

  user-db:
    image: mysql:8.3
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_db
    ports:
      - "3310:3306"
    volumes:
      - user_db_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  user_db_data:
